<h1>내가 좋아하는 것</h1>
<a href="/good/good1">1</a>
<a href="/good/good2">2</a>
<a href="/good/good3">3</a>
<br>
<h1>내가 싫어하는 것</h1>
<a href="/hate/hate1">1</a>
<a href="/hate/hate2">2</a>
<a href="/hate/hate3">3</a>

